@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.navbar {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
    padding-top: 40px;
    z-index: 1;
}

.left {
    display: flex;
    align-items: center;
    margin-left: 100px;
    width: 12.5%;
    justify-content: space-between;
    cursor: pointer;
}

.homepagelink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin-right: 100px;
}

.btn-search {
    background-color: white;
    border: none;
    border-radius: 24px;
    padding: 3px 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.navbar p {
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
}

.two_lines{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.upperlinesvg{
    margin-bottom: 5px;
}